<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>select contact</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      كوبون خصم
    </ion-card-header>
    <ion-card-content>
      <p>من فضلك اختر احد الاصدقاء لديك وارسل له الكوبون</p>
    </ion-card-content>
  </ion-card>
  <ion-searchbar (ionInput)="filterContacts($event)"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let item of filteredContacts" (click)="selectContact(item)">
      <img src="assets/imgs/ProfilePic.jpg">
      <h2>{{ item.displayName }}</h2>
      <p *ngFor='let phone of item.phoneNumbers'>{{ phone.value }}</p>
    </button>
  </ion-list>
  <ion-list>
    <button ion-item (click)="selectContact('item')">
      <img src="assets/imgs/ProfilePic.jpg">
      <h2>Gamal</h2>
      <p>0100000000</p>
      <p>0111111111</p>
    </button>
  </ion-list>
  <button ion-button>Enter Data Manually</button>

</ion-content>
